
.modal {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 600px;
  padding: 35px;
  border: solid var(--primaryColor) 1px;
  background-color: #fff;
  min-height: 400px;
  color: black;

  :global {
    ul {
      list-style: none;
      padding: 0;
    }

    .item {
      padding: 20px;
      border-bottom: solid var(--primaryColor) 1px;
      display: grid;
      grid-template-columns: 50px 1fr 70px;
    }

    .img {
      object-fit: contain;
      height: 50px;
    }

    .total {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 70px;
      justify-content: flex-end;


    }

    .text {
      text-align: right;
    }
  }
}