@import "../../style/var";

.cardGrid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  @include sm {
    grid-template-columns: repeat(2 , 1fr);
  }
  @include md {
    grid-template-columns: repeat(3 , 1fr);
  }
  @include lg {
    grid-template-columns: repeat(4 , 1fr);
  }

}

